<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li>
                <a href="@Url.Action("Index", "News")"><i class="fa fa-newspaper-o fa-fw"></i> News</a>
            </li>
            <li>
                <a href="@Url.Action("Index", "Users")"><i class="fa fa-users fa-fw"></i> Users</a>
            </li>
            <li>
                <a href=""><i class="fa fa-list-ol fa-fw"></i> Ladders<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="@Url.Action("Create", "Ladders")">Create</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "Ladders")">List</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href=""><i class="fa fa-trophy fa-fw"></i> Tournaments<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="@Url.Action("Create", "Tournaments")">Create</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "Tournaments")">List</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="@Url.Action("Index", "Games")"><i class="fa fa-globe fa-fw"></i> Games</a>
            </li>
            <li>
                <a href="/api/admin/Hangfire"><i class="fa fa-wrench fa-fw"></i> Jobs</a>
            </li>
        </ul>
    </div>
</div>
