@model ImperaPlus.DTO.Tournaments.Tournament
@{
    ViewBag.Title = "Tournament";

    var tournament = Model;
}

<h2>Tournament - @tournament.Name - @tournament.Id</h2>

<div class="panel panel-default">
    <div class="panel-heading clearfix" role="tab">
        <h4 class="panel-title pull-left">
            <a class="collapsed" role="button" data-toggle="collapse" href="#tournament-@tournament.Id">
                Details
            </a>
        </h4>

        <div class="pull-right">
            @using (Html.BeginForm("Delete", "Tournaments", FormMethod.Post))
            {
                @Html.Hidden("id", tournament.Id)
                ;
                <button type="submit" class="btn btn-sm btn-danger">Delete</button>
            }
        </div>
    </div>

    @using (Html.BeginForm("PostUpdate", "Tournaments", FormMethod.Post))
    {
        @Html.HiddenFor(x => tournament.Id)

        <div class="panel-collapse collapse" id="tournament-@tournament.Id">
            <div class="panel-body form-horizontal">
                <div class="form-group">
                    @Html.LabelFor(x => tournament.MapTemplates, new { @class = "control-label col-md-3" })
                    <div class="col-md-6">
                        @Html.ListBoxFor(x => tournament.MapTemplates,
                            new MultiSelectList(ViewBag.MapTemplates as IEnumerable<string>, tournament.MapTemplates),
                            new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(x => tournament.State, new { @class = "control-label col-md-3" })
                    <div class="col-md-6">
                        <div class="form-control-static">
                            @Html.DisplayTextFor(x => tournament.State)
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(x => tournament.Phase, new { @class = "control-label col-md-3" })
                    <div class="col-md-6">
                        <div class="form-control-static">
                            @Html.DisplayTextFor(x => tournament.Phase)
                        </div>
                    </div>
                </div>

                @Html.EditorFor(x => tournament.Options, "../Shared/GameOptions")
            </div>

            <div class="panel-footer clearfix">
                <div class="pull-right">
                    <button type="submit" class="btn btn-sm btn-info">Update</button>
                </div>
            </div>
        </div>
    }
</div>

<div class="panel panel-default">
    <div class="panel-heading clearfix" role="tab">
        <h4 class="panel-title pull-left">
            <a class="collapsed" role="button" data-toggle="collapse" href="#tournament-players">
                Teams/Players
            </a>
        </h4>
    </div>

    <div class="panel-collapse collapse" id="tournament-players">
        <div class="panel-body form-horizontal">
            <ul>
            @foreach (var team in tournament.Teams)
            {
                <li>
                    @team.Id - @team.Name - @team.State
                    <ul>
                    @foreach (var participant in team.Participants)
                    {
                        <li>@participant.Id - @participant.Name</li>
                    }
                    </ul>
                </li>
            }
            </ul>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading clearfix" role="tab">
        <h4 class="panel-title pull-left">
            <a class="collapsed" role="button" data-toggle="collapse" href="#tournament-groups">
                Groups
            </a>
        </h4>
    </div>

    <div class="panel-collapse collapse" id="tournament-groups">
        <div class="panel-body form-horizontal">
            <ul>
            @foreach (var group in tournament.Groups)
            {
                <li>@group.Id</li>
            }
            </ul>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading clearfix" role="tab">
        <h4 class="panel-title pull-left">
            <a class="collapsed" role="button" data-toggle="collapse" href="#tournament-pairings">
                Pairings
            </a>
        </h4>
    </div>

    <div class="panel-collapse collapse" id="tournament-pairings">
        <div class="panel-body form-horizontal">
            <ul>
            @foreach (var pairing in tournament.Pairings)
            {
                <li>
                    @pairing.Id
                    <h5>Team A</h5>
                    <div>@pairing.TeamAWon</div>
                    <h5>Team B</h5>
                    <div>@pairing.TeamBWon</div>
                </li>
            }
            </ul>
        </div>

        <div class="panel-footer clearfix">
            <div class="pull-right">
                <button type="submit" class="btn btn-sm btn-info">Update</button>
            </div>
        </div>
    </div>
</div>